@font-face {
  font-family: Noir;
  src: url(../src/assets/font/Noir_regular.otf);
}

@config "../tailwind.config.cjs";

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding:0;
  font-family: Noir, system-ui, sans-serif;
}

.icon path{
  stroke: #fff;  
}

.dropdown-toggle::after {
  display: none !important; 
}

.__notification {

}